.a{
    padding-top: 60px;
    height: 50vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: fit-content;
}
.a-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 80%;
    margin: auto 0;
   
}
.a-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    position: relative;
    height: 90%;
    margin: auto 0;
   
}
.a-title{
    font-weight:400;
}
.a-sub{
    margin:20px 0px;
}
.a-desc{
    font-weight:300;
    width: 80%;
}
.a-skills{
    display: flex;
    flex-wrap: wrap;
}

.a-skill{
    background-color: #59b256;
    width: 30%;
    padding: 10px;
    /* border-radius: 10%; */
    margin:10px;
    color:white;
    text-align: center;
}
@media screen and (max-width:600px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .a-left{
        width:100%;
    }
    .a-desc{
        margin: 0 auto;
    }
    .a-right{
        padding: 20px;
    }
    .a-skills{
        justify-content: center;
    }

}


