.a{
    padding-top: 60px;
    height: 50vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.a-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    position: relative;
    height: 80%;
    margin: auto 0;
   
}
.a-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    position: relative;
    height: 90%;
    margin: auto 0;
   
}
/* .a-card.bg{
    position: absolute;
    top:50px;
    left:50px;
    background-color: rgb(100, 99, 99);
    z-index: -1;
    

}
.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    overflow: hidden;
} */


.a-title{
    font-weight:400;
}
.a-sub{
    margin:20px 0px;
}
.a-desc{
    font-weight:300;
    width: 80%;
}
.a-skills{
    display: flex;
    flex-wrap: wrap;
}

.a-skill{
    background-color: #59b256;
    width: 25%;
    padding: 10px;
    /* border-radius: 10%; */
    margin:10px;
    color:white;
    text-align: center;
}



@media screen and (max-width:480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .a-left{
        width:100%;
    }
    .a-card{
        height: 30vh;
    }
    .a-card.bg,.a-award{
        display: none;
    }
    .a-right{
        padding: 20px;
    }


}


