.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
  margin:auto 0px;
}
.menu-toggle span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
}
.menu-toggle.active span:first-child {
  transform: translateY(10px) rotate(45deg);
}
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active span:last-child {
  transform: translateY(-8px) rotate(-45deg);
}
.menu-list {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.menu-list li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  transition: color 0.7s ease;
  font-weight: 600;
  font-size: 16px;
}
.menu-list a {
  text-decoration: none;
  color: black;
}
.menu-list li:hover {
  color: #25dd1f;
}
.logo{
  width: 50px;
  background-color: aqua;
  height: 50px;
  border-radius: 50%;
  margin:10px;
}
.name{
  cursor: pointer;
  transition: color 0.7s ease;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color:black;
}
a div{
  text-decoration: none;
}
.name:hover{
  color: #34e12e;
}
.header{
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: rgb(234, 233, 233);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header-left a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
}
.header-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
}
.header-right li{
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.7s ease;
  font-weight: 600;
  font-size: 16px;
}
.header-right a{
  text-decoration: none;
  color: black;
}
.header-right li:hover{
  color: #25dd1f;
}
.menu-toggle{
  display: none;
}
.mobile_header{
  position: fixed;
  background-color: #25dd1f;
  animation: menu_popup 0.5s;
  height: 100%;
  width: 100%;
  margin-top: 80px;
  opacity: 0.9;
  z-index: 99;
}
.mobile_header ul{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  animation: menu_item_popup 1s;
  padding-bottom: 20px;
  text-decoration: none;
}
.mobile_header ul a{
  text-decoration: none;
  color: black;
}
.mobile_header ul li{
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.7s ease;
  font-weight: 600;
  font-size: 16px;
}
@media screen and (max-width: 850px){
  .header{
    justify-content: space-between;
  }
  .header-left{
    margin-left: 65px;
  }
  .header-right{
    display: none;
  }
  .menu-toggle{
    display:flex;
    margin-right: 65px;
  }
  .mobile_header{
    display: flex;
  }
}
@keyframes menu_popup{
  from{
    left:0;
    visibility: hidden;
  }
  to{
    right:0;
    visibility: visible;
  }
}
@keyframes menu_item_popup{
  from{
    display: none;
  }
  to{
    display: block;
  }
}